@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.home,
.infra,
.users,
.clients,
.kpi,
.about,
.contact {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.carrousel-home {
  width: 100vh;
}

.main-footer {
  background-color: #060b26;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
}

.main-footer img {
  width: 50px;
}

.login-container {
  background-color: #060b26;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 28vh;
  height: 320px;
  opacity: 0.7;
  font-size: small;
}

.login-logo img {
  width: 300px;
  padding: 30px;
  border-right: solid white;
}

.login-submit {
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  color: white;
}

.login-submit p {
  margin-bottom: 0;
  margin-top: 5px;
  opacity: 100%;
}

.login-submit input {
  border-radius: 0.3rem;
  padding: 5px;
}

.login-button {
  background-color: #060b26;
  color: white;
  margin-top: 15px;
  border: solid white;
}

.login-button:hover {
  background-color: white;
  color: #060b26;
  transition: 0.3s;
}

.newuser-request {
  font-size: small;
  font-style: italic;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.login-footer {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
  margin-top: 8%;
}

.login-footer img {
  width: 50px;
}

@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .back-video{
    width: auto;
    height: 100%;
  }
}